.videoBgContainer {
    width: auto;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.videoBgContainer video {
    object-fit: cover;
    height: 500px;
    width: 100%;
    border: none;
}

.videoOverlay {
    position: relative;
    bottom: 180px;
    right: 480px;
}

.videoHeading {
    font-size: 2rem;
    color: cyan;
    font-weight: 600;
}

.videoText {
    font-size: 2.6rem;
    color: white;
    font-weight: 600;
}

.brochureBtn{
    width: 20%;
    text-align: center;
    margin-top: 20px;
}

.brochureBtn a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: cyan;
}

.brochureBtn a:hover {
    background-color: white;
    color: #000;
}

.firstBox {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: white;
    margin-top: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.firstLeft {
    width: 30%;
}

.firstLeft img {
    width: 50%;
    margin-left: 120px;
}

.animateLeftToRight {
    animation: slideFromLeft 2s ease-in-out forwards;
    transform: translateX(-100%);
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.firstRight {
    width: 50%;
}

.firstRightBigText {
    text-align: center;
    font-size: 2rem;
    color: cyan;
}

.firstRightSmallText {
    text-align: justify;
}

.secondBox {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: white;
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.secondRight {
    width: 30%;
}

.secondRight img {
    width: 65%;
    margin-left: 50px;
}

.animateRightToLeft {
    animation: slideFromRight 2s ease-in-out forwards;
    transform: translateX(100%);
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.secondLeft {
    width: 50%;
}

.secondLeftBigText {
    text-align: center;
    font-size: 2rem;
    color: cyan;
}

.secondLeftSmallText {
    text-align: justify;
}